body {
  background: #0f172a;
  font-family: Arial, sans-serif;
}

.container {
  width: 400px;
  margin: 70px auto;
  background: #1e293b;
  padding: 30px;
  border-radius: 30px;
  color: white;
}

h1 {
  text-align: center;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #334155;
  padding: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.edit {
  background: #38bdf8;
  margin-right: 5px;
}

.delete {
  background: #ef4444;
}